
.grid{
    width:200px;
    heigth: 400 px;
    background-color: green;
    flex-wrap:wrap;
    display: flex;
}


.grid div{
height:20px;
    width:20px;


}

.tetromino{
    background-color: blue;
}

